.rap-wrap {
  width: 100%;
  position: relative;
}

.rap-main-message {
  width: 100%;
  position: absolute;
  top: -10px;
}
.rap-main-message h2 {
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  padding: 104px 0 21px 0;
  position: relative;
  z-index: 9;
}

.rap-main-message p {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  line-height: 26px;
  letter-spacing: -0.04em;
  position: relative;
}