.menu-content-wrap {
  width: 100%;
  margin: 0 auto;
}
.menu-content-filter {
  width: 1200px;
  height: 140px;
  margin: -60px auto 0;
  background: url(../../../image/menu/bg_tabbox.png) no-repeat center center;
  position: relative;
  z-index: 3;
  text-align: center;
}

.menu-content-filter ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;  
  align-items: center;
  position: absolute;
  width: auto;
  gap: 30px;
  top: 48px; 
  left: 50%; /* 화면의 가로축 중앙에 위치 */
  transform: translateX(-50%); /* 요소의 절반 너비만큼 왼쪽으로 이동시켜 중앙 정렬 */
  z-index: 5;
  cursor: pointer;
}

.menu-content-filter ul li {
  position: relative; 
  width: auto;
  font-size: 16px;
  font-weight: bold;
}

.menu-content-filter ul li + li::before {
  content: '•'; /* 점 모양 */
  font-size: 16px;
  color: #dddddd;
  position: absolute;
  left: -22px; /* 점이 정확히 중앙에 오도록 위치 조정 */
  top: -12px;
  transform: translateY(50%);
  text-decoration: none;
}

.menu-content-filter .active {
  color: #009223;
}

.menu-content-product {
  margin: 0 auto;
}
.menu-content-product ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1200px;
  margin: 0 auto;
}

.menu-content-product ul li {
  position: relative;
  width: 370px;
  height: 330px;
  background-color: #fff;
  float: left;
  overflow: hidden;
  text-align: center;
  margin: 30px 0 0px 16px;
  cursor: pointer;
}
.menu-content-product ul li img {
  width: 270px;
  height: 189px;

}
.product-title1 {
  color: #292929;
  font-size: 22px;
  font-weight: bold;
  margin: 10px 0 7px;
  display: block;
  position: relative;
  z-index: 5;
  top: 0;
}
.product-eng-name1 {
  color: #666666;
  font-size: 16px;
  font-family: font_sw;
  display: block;
  margin: 0 0 13px;
  letter-spacing: -0.06em;
  position: relative;
  z-index: 5;
  top: 0;
}

.product-kcal1 {
  color: #ffc300;
  font-size: 18px;
  font-family: font_sw;
  font-weight: bold;
  display: block;
  letter-spacing: -0.05em;
}

.product-summary {
  display: block;
  position: absolute;
  width: 370px;
  height: 330px;
  left: 0px;
  top: 0px;
  z-index: 5;
  background-color: #009223;
}

.product-comment2 {
  position: relative;
  font-size: 16px;
  line-height: 24px;
  /* word-break: keep-all; */
  padding: 0px 5px;
  letter-spacing: -0.05em;
  z-index: 5;
  color: #daeebe !important;
}

.product-title2 {
  color: white;
  font-size: 22px;
  font-weight: bold;
  margin: 50px 0 7px;
  z-index: 5;
}
.product-eng-name2 {
  color: white;
  font-size: 16px;
  margin: 0 0 13px;
  letter-spacing: -0.06em;
  z-index: 5;
  top: 0;
}

.product-btn {
  position: absolute;
  transform: translateX(-50%) scale(0.4) ;
}

