.app-wrap {
  width: 100%;
}
.container-main-wrap {
  width: 100%;
  position: relative;
  margin: 165px auto 0px;
  padding-bottom: 50px;
  background: #f6f6f6;
}

.footer-main-wrap {
  width: 100%;
  height: 150px;
}